
.card-img-top{
    border-radius: 30px;
    
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 20%;
}
.card {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}
.card:hover {
    transform: scale(1.09);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
